In [1]:
#dic1 = {'name' : 'amanda', 'Age' : '24'}
# dic2 = {'name' : 'papa', 'Age' : '27'}
# dic3 = {'name' : 'mara', 'Age' : '21'}
# dic4 = {'name' : 'gini', 'Age' : '15'}
# dic5 = {'name' : 'pepe', 'Age' : '22'}
# dic6 = {'name' : 'rere', 'Age' : '23'}
# dic7 = {'name' : 'lulu', 'Age' : '19'}
# dic8 = {'name' : 'gongru', 'Age' : '16'}
# dic9 = {'name' : 'giali', 'Age' : '29'}
# dic10 = {'name' : 'maria', 'Age' : '30'}
dic = {'amanda' : '24', 'papa' : '27', 'mara' : '21', 'gini' : '15',
       'pepe' : '22', 'rere' : '23', 'lulu' : '19', 'gongru' : '16', 
      'giali' : '29', 'maria' : '30'}

In [2]:
import pandas as pd

In [3]:
import numpy as np
import matplotlib.pyplot as plt

In [4]:
dic.keys()

dict_keys(['amanda', 'papa', 'mara', 'gini', 'pepe', 'rere', 'lulu', 'gongru', 'giali', 'maria'])

In [5]:
list(dic.keys())

['amanda',
 'papa',
 'mara',
 'gini',
 'pepe',
 'rere',
 'lulu',
 'gongru',
 'giali',
 'maria']

In [6]:
df2 = pd.DataFrame({'name' : list(dic.keys()),
                     'Age' : list(dic.values())})

In [7]:
df2

     name Age
0  amanda  24
1    papa  27
2    mara  21
3    gini  15
4    pepe  22
5    rere  23
6    lulu  19
7  gongru  16
8   giali  29
9   maria  30

In [9]:
writer = pd.ExcelWriter('chart!!!.xlsx', engine='xlsxwriter')

In [11]:
df2.to_excel(writer, sheet_name='chart')

In [12]:
writer.save()

In [13]:
writer.close()

In [51]:
pd.ExcelWriter?

Init signature: pd.ExcelWriter(path, engine=None, **kwargs)
Docstring:
Class for writing DataFrame objects into excel sheets, default is to use
xlwt for xls, openpyxl for xlsx.  See DataFrame.to_excel for typical usage.

Parameters
----------
path : string
    Path to xls or xlsx file.
engine : string (optional)
    Engine to use for writing. If None, defaults to
    ``io.excel.<extension>.writer``.  NOTE: can only be passed as a keyword
    argument.
date_format : string, default None
    Format string for dates written into Excel files (e.g. 'YYYY-MM-DD')
datetime_format : string, default None
    Format string for datetime objects written into Excel files
    (e.g. 'YYYY-MM-DD HH:MM:SS')
mode : {'w', 'a'}, default 'w'
    File mode to use (write or append).

    .. versionadded:: 0.24.0

Attributes
----------
None

Methods
-------
None

Notes
-----
None of the methods and properties are considered public.

For compatibility with CSV writers, ExcelWriter serializes lists
and dicts to strings before writing.

Examples
--------
Default usage:

>>> with ExcelWriter('path_to_file.xlsx') as writer:
...     df.to_excel(writer)

To write to separate sheets in a single file:

>>> with ExcelWriter('path_to_file.xlsx') as writer:
...     df1.to_excel(writer, sheet_name='Sheet1')
...     df2.to_excel(writer, sheet_name='Sheet2')

You can set the date format or datetime format:

>>> with ExcelWriter('path_to_file.xlsx',
                      date_format='YYYY-MM-DD',
                      datetime_format='YYYY-MM-DD HH:MM:SS') as writer:
...     df.to_excel(writer)

You can also append to an existing Excel file:

>>> with ExcelWriter('path_to_file.xlsx', mode='a') as writer:
...     df.to_excel(writer, sheet_name='Sheet3')
File:           c:\users\user\anaconda3\envs\dip\lib\site-packages\pandas\io\excel\_base.py
Type:           ABCMeta
Subclasses:     _OpenpyxlWriter, _XlsxWriter, _XlwtWriter