In [5]:
import pandas as pd
import numpy as np

In [6]:
dic1 = {'name' : 'amanda', 'Age' : '24', 'disease' : 'cold'}

In [7]:
#keys 열 만들기
df = pd.DataFrame(columns=['Name', 'Age', 'Disease'])

In [8]:
df

Empty DataFrame
Columns: [Name, Age, Disease]
Index: []

In [9]:
#행추가 하는 명령어
i = 0
df.loc[i] = np.nan

In [10]:
df

  Name  Age Disease
0  NaN  NaN     NaN

In [ ]:
#dic1 = {'name' : '?', 'Age' : '?', 'disease' : '?'} 이라는 형태로 불러오기

In [14]:
i = i+1
#딕셔너리가 생성되면 value값 list 만들기
patient = list(dic1.values())
df.loc[i] = patient
df
writer = pd.ExcelWriter('patient.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='chart')
writer.save()
writer.close()

     Name  Age Disease
0     NaN  NaN     NaN
1  amanda   24    cold
2  amanda   24    cold
3  amanda   24    cold
4  amanda   24    cold